
  {% extends 'customer/customerbase.html' %}  
  {% block content %}
<div class="container">
<section  style="background-color: #eee;">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-5 md-5">

  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">State Your Complaint here!!</p>
  
                  <form action="{% url 'complain'%}" class="mx-1 mx-md-4" method="post">
                    {% csrf_token %}
                      

  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input name ="meter_id_id" type="number" id="form3Example1c" class="form-control" />
                        <label class="form-label" for="form3Example1c">meter id</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                       
                      
                        <textarea  name="complain" rows="4" cols="115" placeholder="Enter your complain">
                         
                          </textarea>
                      </div>
                    </div>
  
                    
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
  
                  </form>
  
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
  


