{% extends 'customer/customerbase.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to Customer page</h1>
    {%for msg in messages%}
    {% if msg.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      var m = "{{ msg }}";
      swal("Perfect !", m, "success")
    </script>
    {% endif %}
    {% endfor %}
    {%for ms in messages%}
    {% if ms.tags == 'warning' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      var m = "{{ ms }}";
      swal("Warning", m, "warning")
    </script>
    {% endif %}
    {% endfor %}
    
   
</body>
{% endblock content %}


