{% extends 'electric_reader/electricreaderbase.html' %}  
{% block content %}
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electric_reader</title>
    <!-- <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static '/css/mdb.min.css' %}">
    <style>
        
    </style>
</head>
<body>
    <h3>This is Electric reader dashboard</h3>
    
  
      <div class="mx-auto" style="width: 200px">
      <div class="container">
        <div class="row">
          <form name="myForm" action="{% url 'electric_reader'%}" method="post">
            {% csrf_token %}
          <div class="col-md">
            <input name="meter_id_id" type="number" id="formControlLg" class="form-control form-control-lg" required />
            <label class="form-label" for="formControlLg">Enter meter id of Customer</label>
            <input name="current_reading" type="number" id="billvalue" class="form-control"required />
            <label class="form-label" for="formControlDefault">Insert the value of current reading</label>
            <!-- <input name="month" type="text" id="month" class="form-control"required />
            <label class="form-label" for="formControlDefault">month</label>
            <input name="year" type="text" id="year" class="form-control"required />
            <label class="form-label" for="formControlDefault">year</label> -->

            <button type="submit" class="btn btn-primary">submit</button>
            {%for ms in messages%}
            {% if ms.tags == 'warning' %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
              var m = "{{ ms }}";
              swal("Warning", m, "warning")
            </script>
            {% endif %}
            {% endfor %}
          </div>
          
        </form>
      </div>
    </div>
    


     <Script src = "{% static '/js/mdb.min.js' %}">
      function validateForm() {
        let x = document.forms["myForm"]["meter_id_id"].value;
        if (x == " ") {
          alert("Meter id  must be filled out");
          return false;
        }
      }
     </Script>
</body>
</html>
{% endblock%}