{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- <link rel="stylesheet" href="css/media.css"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Page</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style11.css/' %}">
</head>
<body>
    

    <a class="gotopbtn" href=""><i class="fa fa-arrow-up"></i></a>

    <nav>
        <div class="nav-container">
            <div class="logo">
                <a href=""><img src="{% static '/img/Adamaa.jpg/' %}" alt=""></a>
            </div>
            <div class="menu">
                <i class="fa fa-bars"></i>
                <ul>
                    <li><a class="aktif" href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Detail</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
   

  

    <section class="banner">
        <div class="container">
            <h1>Billing System With Complain Platform</h1>
            <p class="text">WHY LEAVING HOME? <br>Use Adama City Billing System With Complain Platform <br>to pay your monthly Electric and Water <br> If you are new sign up here </p>
            <div class="buttons">
                <a class="button banner-btn-download" href="{% url 'registerPage'%}">Sign up</a>
                <a class="button banner-btn-learnmore" href="{%url 'user_login' %}">Login</a>
            </div>
        </div>
    </section>
    
    
   
    

   

    

   

   
    
  

    <footer>
        <div class="top">
            <div class="container">
                <div class="card first-card">
                    <p class="title">About Us</p>
                    <p class="text">Adama Billing System With Complain Platform is an automated bill payment environment</p>
                    
                </div>
                <div class="card second-card">
                    <p class="title">Links</p>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Details</a></li>       
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            
                <div class="card first-card">
                    <p class="title">Help</p>
                    <p class="text">How to pay.<br>support<br>Tips</p>
                    
                </div>
                <div class="card first-card">
                    <p class="title">Contact</p>
                     <div class="social-media">
                        
                        <a href=""><i class="fa fa-facebook icon-round"></i></a>
                        <a href=""><i class="fa fa-twitter icon-round"></i></a>
                        <a href=""><i class="fa fa-linkedin icon-round"></i></a>
                        <a href=""><i class="fa fa-google-plus icon-round"></i></a>
                    </div>
                    <p class="text">+251938479186 <br>+251947439855</p>
                    
                </div>
              
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <div class="links">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Details</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
