{% extends 'water_reader/waterreaderbase.html' %}
{% block content %}
<h1>this is yy            r            t' water reader dashboard</h1>

{%for ms in messages%}
{% if ms.tags == 'warning' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  var m = "{{ ms }}";
  swal("Warning", m, "warning")
</script>
{% endif %}
{% endfor %}
{%for msg in messages%}
      {% if msg.tags == 'success' %}
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
          var m = "{{ msg }}";
          swal("Perfect !", m, "success")
        </script>
        {% endif %}
        {% endfor %}


{% endblock content %}